.HeaderImg{
    img{
height: 500px;
width: 600px;
object-fit:cover;
margin-inline-end: 160px;
}
}

.HeaderText{
text-align: left;
margin-inline-start: 160px;


h2{
   margin-top: 70px;
}
h1, h2{
    font-size: 48px;
   font-weight: 800;
   line-height: 30px;
}
a{
      font-family: 'Bungee Shade';
    color:#FFB806;

    
}
h3{
    font-size: 16px;
    width: 450px;
}
p{
    background-color: #FFB806;
    width: 160px;
    padding: 15px;
    color: black;
    font-weight:800 ;
     margin-block:30px ;
     
}
button{
    background-color: #FFB806;
    border: none;
    padding-inline: 40px;
    padding-block: 15px;
    border-radius: 30px;
    font-weight: 700;
    color: white;
    margin-block-start:30px ;

    a{
        color: white;
        font-family: 'inter';
        text-decoration: none;
        font-size: 18px;
    }
}
}

.HeaderFlex{
   display: flex;
   justify-content: space-between;
  
}